<section class="content-wrapper">
  <button mat-button (click)="addTask()">
    <mat-icon>add</mat-icon> Add Task
  </button>
  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>
      <mat-card
        class="list"
        id="todo"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="$todo | async"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
      >
        <p class="empty-label" *ngIf="!($todo | async)?.length">Empty List</p>
        <app-task
          cdkDrag
          *ngFor="let task of $todo | async"
          [task]="task"
          (edit)="edit('todo', $event)"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>
      <mat-card
        class="list"
        id="inProgress"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="$inProgress | async"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[todoList, doneList]"
      >
        <p class="empty-label" *ngIf="!($inProgress | async)?.length">Empty List</p>
        <app-task
          cdkDrag
          *ngFor="let task of $inProgress | async"
          [task]="task"
          (edit)="edit('inProgress', $event)"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>
      <mat-card
        class="list"
        id="done"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="$done | async"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
      >
        <p class="empty-label" *ngIf="!($done | async)?.length">Empty List</p>
        <app-task
          cdkDrag
          *ngFor="let task of $done | async"
          [task]="task"
          (edit)="edit('done', $event)"
        ></app-task>
      </mat-card>
    </div>
  </div>
</section>
